<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <link rel="stylesheet" href="css/materialize.min.css">
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
